:root {
  --arrow-size: 10px;
  --tooltip-color: red;
}

.tooltip-wrapper {
  position: relative;
  height: max-content;
}

.tooltip {
  --scale: 0;
  position: absolute;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--tooltip-color);
  border-radius: 0.3rem;
  z-index: 50;
}

.top-tooltip {
  max-width: max-content;
  min-width: max-content;
  max-height: 200%;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

/* Top arrow triangle */
.top-tooltip::before {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  transform: translateX(-50%) translateY(50%);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
}

.bottom-tooltip {
  max-width: max-content;
  min-width: max-content;
  max-height: 200%;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

/* Bottom arrow triangle */
.bottom-tooltip::before {
  position: absolute;
  left: 50%;
  top: -0.4rem;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
}

.left-tooltip {
  max-height: max-content;
  min-height: max-content;
  max-width: 200%;
  overflow-wrap: break-word;
  bottom: 50%;
  left: -0.5rem;
  transform: translateX(-100%) translateY(50%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: right center;
}

/* Left arrow triangle */
.left-tooltip::before {
  position: absolute;
  bottom: 50%;
  right: 0.2rem;
  transform: translateX(100%) translateY(50%);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--tooltip-color);
}

.right-tooltip {
  max-height: max-content;
  min-height: max-content;
  max-width: 200%;
  overflow-wrap: break-word;
  bottom: 50%;
  right: -0.5rem;
  transform: translateX(100%) translateY(50%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: left center;
}

/* Right arrow triangle */
.right-tooltip::before {
  position: absolute;
  bottom: 50%;
  left: 0.2rem;
  transform: translateX(-100%) translateY(50%);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--tooltip-color);
}

.active {
  --scale: 1;
}
