.top-tooltip  {
    --scale: 0;

    background-color: red;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    height: max-content;
    width: max-content;
    max-width: 100%;
    position: absolute;
    top : -0.3rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
  }

  /* .top-exemple::after {
    
      content: '';
      border: 10px solid transparent;
      border-top-color: red;
  } */

  

  .bottom-tooltip {
    --scale: 0;

    background-color: red;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    height: max-content;
    width: max-content;
    max-width: 100%;
    position: absolute;
    bottom : -0.3rem;
    left: 50%;
    transform: translateX(-50%) translateY(100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: top center;
  }
  
  .right-tooltip {
    --scale: 0;

    background-color: red;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    height: max-content;
    width: max-content;
    max-width: 100%;
    position: absolute;
    bottom : 50%;
    right: -.3rem;
    transform: translateX(100%) translateY(50%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: left center;
  }

  .left-tooltip {

    --scale: 0;

    background-color: red;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    height: max-content;
    width: max-content;
    max-width: 100%;
    position: absolute;
    bottom : 50%;
    left: -.3rem;
    transform: translateX(-100%) translateY(50%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: right center;
  }

  .top-exemple:hover :first-child {
    --scale: 1;
  } 