.top-exemple {
  
  width: 100px;
  background-color: black;
  color: white;
  position: relative;
}

.top-exemple:hover :first-child {
  scale: 1;
} 

.liste-exemples {
  display: flex;
  justify-content: center;
}


