.main-title {
  text-align: center;
}

.on-hover,
.on-focus {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
}
